@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 6.25%;
}

body {
  min-height: 100vh;
  font-size: 18rem;
  display: grid;
  padding: 50rem;
  place-content: center;
  font-family: "league Spartan";

  position: relative;
}

header {
  display: block;
  position: absolute;
  z-index: -1;
  background-image: url("/images/bg-pattern-top-mobile.svg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  display: block;
  position: absolute;
  z-index: -1;
  background-image: url("/images/bg-pattern-bottom-mobile.svg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;

  align-self: end;
}

main {
  width: 100%;
  margin: auto;
  text-align: center;
}

.grid-2columns {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  
}
.main-container{
display: flex;
flex-direction: column;
  gap: 25rem;
}
h1 {
  font-weight: 700;
  max-width: 15ch;
  color: hsl(300, 43%, 22%);
  margin: auto;
}
.description {
  font-weight: 500;
  max-width: 32ch;
  color: hsl(303, 10%, 53%);
}
.star-container{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.stars {
  gap: 10rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 24%, 96%);
  border-radius: 15rem;
  padding: 20rem 25rem;
  width: 100%;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.grid-3columns {
  margin-top: 50rem;
  display: grid;
  gap: 25rem;
}

.coment-box {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  background-color: hsl(300, 43%, 22%);
  border-radius: 20rem;
  text-align: left;
  padding: 25rem;
  font-weight: 700;
height: fit-content;
  
}

picture img {
  border-radius: 50%;
  max-width: 70%;
}
.user {
  display: flex;
  align-items: center;
}
.user-info {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.name {
  color: hsl(0, 0%, 100%);
}
.status {
  color: hsl(333, 80%, 67%);
}
.coment {
  max-width: 30ch;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  line-height: 25rem;
}

.attribution {
  color: hsl(300, 43%, 22%);
  margin-top: 25rem;
  font-size: 16rem;
  text-align: center;
  font-weight: 500;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(min-width:600px){
  .grid-2columns{
    grid-template-columns: 1fr 1fr;
   
   grid-template-rows: 1fr;

  }
  .grid-3columns{
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  .star-container{
    grid-column: 2;
   width: 100%;



    
  }
  .stars{
    flex-direction: row;
  margin-top: 40rem;
    max-width: 450rem;
    
  }
.stars:nth-of-type(2){
  margin-left: 30rem;
}
.stars:nth-of-type(3){
  margin-left: 60rem;
}
h1{
  margin: 25rem 0;
}


  .main-container{
    grid-column: 1;
    justify-self:flex-start ;
 font-size: 25rem;
    text-align: left;
    
  }
  .coment-box{
    min-height: 250rem;
  }
  
.coment-box:nth-last-of-type(3){margin: 10rem 0;}
.coment-box:nth-last-of-type(2){margin: 30rem 0;}
.coment-box:nth-last-of-type(1){margin: 50rem 0;}

  header{
    background-size: contain;
    max-width: 50%;
   height: 40%;

  }
  footer{
  
    background-size: cover;
    max-width: 100%;
   height: 40%;
  }

}